.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #ffcc00;
  padding: 1em;
}

header img {
  width: 100px;
}

header h2 {
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}

header nav ul li {
  display: inline;
}

header nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  padding: 2em;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns, equally spaced */
  gap: 1em; /* Space between cards */
  justify-items: center;
  margin: 0 auto;
}

.card {
  border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
}

.card img {
  width: 150px;
  height: 150px;
}

.checkout {
  padding: 2em;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
}

.checkout-summary ul {
  list-style-type: none;
  padding: 0;
}

.checkout-summary li {
  padding: 5px 0;
}

.checkout-form label {
  display: block;
  margin: 1em 0 0.5em;
}

.checkout-form input {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.checkout-form button {
  padding: 0.5em 2em;
  background-color: #ffcc00;
  border: none;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: #ffb700;
}


footer {
  background-color: #333;
  color: white;
  padding: 1em;
  margin-top: 2em;
}
